
/*

*/

.version.blog_detail_robert /* version checker */
{
	color: #0000E8;
	background-color: #E71BCB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 5738px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu6095
{
	width: 0.01px;
	margin-left: -100px;
}

#u6095
{
	z-index: 176;
	min-height: 1049.8999999999996px;
	padding-bottom: 0px;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RScm1H.jpg") no-repeat center top;
}

#u6095_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 342px;
	padding-bottom: 426px;
}

#u5213-4
{
	z-index: 193;
	width: 370px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	left: 500px;
	position: relative;
}

#u5212-8
{
	z-index: 185;
	width: 970px;
	min-height: 176px;
	background-color: transparent;
	line-height: 58px;
	left: 200px;
	margin-top: 18px;
	position: relative;
}

#u5217-4
{
	z-index: 181;
	width: 73px;
	min-height: 12px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	left: 649px;
	margin-top: 19px;
	position: relative;
}

#u5216
{
	z-index: 180;
	width: 70px;
	height: 1px;
	background-color: #1D1D1F;
	left: 650px;
	margin-top: 8px;
	position: relative;
}

#u5214
{
	z-index: 178;
	width: 4px;
	background-color: transparent;
	left: 716px;
	margin-top: 10px;
	position: relative;
}

#u6095-bw
{
	z-index: 176;
	min-height: 1049.8999999999996px;
}

#u5178
{
	z-index: 177;
	min-height: 98px;
	padding-bottom: 152px;
	background: transparent url("../images/bot_triangle.png") no-repeat center center;
}

#u5178_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#u8123
{
	z-index: 223;
	width: 30px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 670px;
}

#U8144_animation
{
	width: 30px;
	height: 90px;
	border: none;
}

#u5178-bw
{
	z-index: 177;
	min-height: 98px;
	margin-top: 800px;
}

#pu3790
{
	width: 0.01px;
	padding-bottom: 547px;
	margin-left: -100px;
	margin-top: -1050px;
}

#u3790
{
	z-index: 224;
	height: 126px;
	top: 0px;
}

#u3790-bw
{
	z-index: 224;
}

#u89
{
	z-index: 225;
	width: 164px;
	top: 132px;
	left: 0px;
}

#pamphletu5219
{
	z-index: 210;
	width: 0.01px;
	height: 61px;
	position: fixed;
	top: 485px;
	left: 1px;
}

#u5230
{
	position: absolute;
	width: 180px;
	left: 19px;
}

#u5230popup
{
	z-index: 211;
}

#u5232
{
	z-index: 212;
	width: 144px;
	height: 43px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 11px 18px 7px;
}

#u5240-4
{
	z-index: 213;
	width: 143px;
	min-height: 17px;
	background-color: transparent;
	line-height: 16px;
	margin-left: 1px;
	position: relative;
}

#u5241-4
{
	z-index: 217;
	width: 117px;
	min-height: 18px;
	background-color: transparent;
	position: relative;
}

#u5226
{
	z-index: 221;
	width: 19px;
	position: relative;
	margin-right: -10000px;
}

#u5227
{
	position: absolute;
	width: 19px;
	height: 61px;
	border-style: none;
	background: transparent url("../images/nextprev_orange.png") no-repeat left top;
}

#u5227:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu5245
{
	z-index: 197;
	width: 0.01px;
	height: 61px;
	position: fixed;
	top: 485px;
	left: 971px;
}

#u5256
{
	position: absolute;
	width: 180px;
}

#u5256popup
{
	z-index: 198;
}

#u5257
{
	z-index: 199;
	width: 144px;
	height: 43px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 11px 21px 7px 15px;
}

#u5259-4
{
	z-index: 200;
	width: 143px;
	min-height: 17px;
	background-color: transparent;
	text-align: right;
	line-height: 16px;
	margin-left: 1px;
	position: relative;
}

#u5240-4:hover,#u5259-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px 0px 0px 1px;
}

#u5258-4
{
	z-index: 204;
	width: 144px;
	min-height: 18px;
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u5248
{
	z-index: 208;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u5249
{
	position: absolute;
	width: 19px;
	height: 61px;
	border-style: none;
	background: transparent url("../images/nextprev_orange.png") no-repeat right top;
}

#u5249:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#pamphletu1147
{
	z-index: 227;
	width: 0.01px;
	height: 30px;
	top: 138px;
	left: 1143px;
}

#u1148popup
{
	z-index: 228;
}

#u1148
{
	width: 843px;
	left: -843px;
}

#u1149
{
	z-index: 229;
	width: 843px;
	height: 232px;
	margin-right: -10000px;
}

#pamphletu1181
{
	z-index: 254;
	width: 0.01px;
	height: 17px;
	padding-bottom: 208px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 91px;
}

#u1182popup
{
	z-index: 255;
}

#u1182
{
	width: 309px;
	top: 87px;
}

#u1183
{
	z-index: 256;
	width: 309px;
	height: 138px;
	margin-right: -10000px;
}

#menuu1196
{
	z-index: 257;
	width: 135px;
	margin-right: -10000px;
}

#u1197
{
	width: 135px;
}

#u1198
{
	width: 135px;
	min-height: 14px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1198:hover
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1198:active
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1199-4
{
	width: 111px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u1198:hover #u1199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1198:active #u1199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1201
{
	z-index: 264;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 111px;
}

#u1198:hover #u1201
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1198:active #u1201
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1270
{
	width: 174px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u1270:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1272-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1270:hover #u1272-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1277
{
	width: 174px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u1270.MuseMenuActive,#u1277:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1280-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u1270.MuseMenuActive #u1272-4,#u1277:hover #u1280-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1205
{
	width: 135px;
	min-height: 14px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1198.MuseMenuActive,#u1205:hover
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1205:active
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1206-4
{
	width: 111px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u1198.MuseMenuActive #u1199-4,#u1205:hover #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1205:active #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1207
{
	z-index: 285;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 111px;
}

#u1198.MuseMenuActive #u1201,#u1205:hover #u1207
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1205:active #u1207
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1284
{
	width: 174px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u1277.MuseMenuActive,#u1284:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1286-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1277.MuseMenuActive #u1280-4,#u1284:hover #u1286-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1291
{
	width: 174px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u1284.MuseMenuActive,#u1291:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1293-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1284.MuseMenuActive #u1286-4,#u1291:hover #u1293-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1212
{
	width: 135px;
	min-height: 14px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1205.MuseMenuActive,#u1212:hover
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1212:active
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1213-4
{
	width: 111px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u1205.MuseMenuActive #u1206-4,#u1212:hover #u1213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1212:active #u1213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1214
{
	z-index: 306;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 111px;
}

#u1205.MuseMenuActive #u1207,#u1212:hover #u1214
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1212:active #u1214
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1298
{
	width: 174px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u1291.MuseMenuActive,#u1298:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1300-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1291.MuseMenuActive #u1293-4,#u1298:hover #u1300-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1307
{
	width: 174px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u1298.MuseMenuActive,#u1307:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1310-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1298.MuseMenuActive #u1300-4,#u1307:hover #u1310-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1204,#u1211,#u1218
{
	width: 135px;
	margin-top: 2px;
}

#u1221
{
	width: 135px;
	min-height: 14px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1212.MuseMenuActive,#u1221:hover
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1221:active
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1221.MuseMenuActive
{
	width: 135px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1223-4
{
	width: 111px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u1212.MuseMenuActive #u1213-4,#u1221:hover #u1223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1221:active #u1223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1221.MuseMenuActive #u1223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1224
{
	z-index: 327;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 111px;
}

#u1212.MuseMenuActive #u1214,#u1221:hover #u1224
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1221:active #u1224
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1221.MuseMenuActive #u1224
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1202,#u1209,#u1216,#u1219
{
	width: 174px;
	left: 135px;
}

#u1312
{
	width: 174px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u1307.MuseMenuActive,#u1312:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1314-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1307.MuseMenuActive #u1310-4,#u1312:hover #u1314-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1203,#u1269,#u1276,#u1210,#u1283,#u1290,#u1217,#u1297,#u1304,#u1220,#u1311,#u1318
{
	width: 174px;
}

#u1321
{
	width: 174px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u1312.MuseMenuActive,#u1321:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1321.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1322-4
{
	width: 166px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1312.MuseMenuActive #u1314-4,#u1321:hover #u1322-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1321.MuseMenuActive #u1322-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u1192
{
	z-index: 342;
	width: 50px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 16px;
}

#u1193
{
	width: 59px;
	padding-bottom: 4px;
	top: -1px;
	left: -1px;
}

#u1193.PamphletThumbSelected
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1226-4
{
	z-index: 344;
	width: 44px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u1193:hover #u1226-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 44px;
	margin: 1px -10000px 0px 0px;
}

#u1193.PamphletThumbSelected #u1226-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 44px;
	margin: 1px -10000px 0px 0px;
}

#u17606
{
	z-index: 348;
	width: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 46px;
}

#u1193.PamphletThumbSelected #u17606
{
	width: 4px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u1163-4
{
	z-index: 230;
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 193px;
}

#u1163-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 7px -10000px 0px 0px;
}

#u1164-4
{
	z-index: 234;
	width: 46px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 307px;
}

#u1164-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 46px;
	margin: 7px -10000px 0px 0px;
}

#u1165-4
{
	z-index: 238;
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 392px;
}

#u1165-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 7px -10000px 0px 0px;
}

#u1166-4
{
	z-index: 242;
	width: 60px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 500px;
}

#u1166-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 7px -10000px 0px 0px;
}

#u1167-4
{
	z-index: 246;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 604px;
}

#u1167-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 7px -10000px 0px 0px;
}

#u1168-4
{
	z-index: 250;
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 732px;
}

#u1168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 7px -10000px 0px 0px;
}

#u1158
{
	z-index: 350;
	width: 27px;
	margin-right: -10000px;
}

#u1159
{
	width: 27px;
	height: 30px;
}

#u1159:hover
{
	width: 27px;
	height: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1159.PamphletThumbSelected
{
	width: 27px;
	height: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5300-4
{
	z-index: 172;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	margin-left: 100px;
	margin-top: 114px;
	position: relative;
}

#u5301-7
{
	z-index: 165;
	width: 970px;
	min-height: 68px;
	background-color: transparent;
	margin-left: 100px;
	margin-top: 42px;
	position: relative;
}

#pu5308-4
{
	width: 0.01px;
	margin-left: 129px;
	margin-top: 42px;
}

#u5308-4
{
	z-index: 152;
	width: 900px;
	min-height: 81px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 41px;
}


#u5309-4
{
	z-index: 156;
	width: 10px;
	min-height: 23px;
	background-color: transparent;
	color: #E29E29;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u5310-4
{
	z-index: 160;
	width: 9px;
	min-height: 21px;
	background-color: transparent;
	color: #E29E29;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 463px;
}

#u5311
{
	z-index: 164;
	width: 1px;
	height: 80px;
	background-color: #F3F3F3;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u5312-7
{
	z-index: 145;
	width: 970px;
	min-height: 112px;
	background-color: transparent;
	margin-left: 100px;
	margin-top: 62px;
	position: relative;
}

#u5313-4
{
	z-index: 141;
	width: 570px;
	min-height: 35px;
	background-color: transparent;
	margin-left: 100px;
	margin-top: 44px;
	position: relative;
}

#u5314-4
{
	z-index: 137;
	width: 800px;
	min-height: 24px;
	background-color: transparent;
	margin-left: 100px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

/* #u5315
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img1.png") no-repeat center center;
} */

#u5315-1
{
	z-index: 136;
	width: 970px;
	height: 540px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RSmc4J.png") no-repeat center center / contain;
	/* background-color: transparent;
	background-image: url("../images/newblog-shijie4-img1.gif");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center; */

}

#u5315-2
{
	z-index: 136;
	width: 970px;
	height: 900px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RSmBuV.png") no-repeat center center / contain;
}

#u5315-3
{
	z-index: 136;
	width: 970px;
	height: 800px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RSmrHU.png") no-repeat center center / contain;
}

#u5315-4
{
	z-index: 136;
	width: 970px;
	height: 1600px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RSmyEF.png") no-repeat center center / contain;
}

#u5315-5
{
	z-index: 136;
	width: 970px;
	height: 800px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RSmwj0.png") no-repeat center center / contain;
}

#u5315-6
{
	z-index: 136;
	width: 970px;
	height: 1300px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RSmDBT.png") no-repeat center center / contain;
}

#u5315-7
{
	z-index: 136;
	width: 970px;
	height: 1500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("https://z3.ax1x.com/2021/06/18/RSm6N4.png") no-repeat center center / contain;
}



/* #u5315-8
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie7-img8.png") no-repeat center center / contain;
} */

/* #u5315-9
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie7-img9.png") no-repeat center center / contain;
} */

/* #u5315-10
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie7-img10.png") no-repeat center center / contain;
} */

/* #u5315-11
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img12.png") no-repeat center center;
}

#u5315-12
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img13.png") no-repeat center center;
}

#u5315-13
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img14.png") no-repeat center center;
}

#u5315-14
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img15.png") no-repeat center center;
}

#u5315-15
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img16.png") no-repeat center center;
}

#u5315-16
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img17.png") no-repeat center center;
}

#u5315-17
{
	z-index: 136;
	width: 970px;
	height: 500px;
	margin-left: 100px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/newblog-shijie2-img18.png") no-repeat center center;
} */

#u5322-4
{
	z-index: 132;
	width: 970px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 100px;
	margin-top: 42px;
	position: relative;
}

#ppu6065-4
{
	width: 0.01px;
	margin-left: 170px;
	margin-top: 36px;
}

#pu6065-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u6065-4
{
	z-index: 128;
	width: 30px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
}

#u6066-4
{
	z-index: 124;
	width: 30px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	margin-top: 35px;
	position: relative;
}

#u6067-4
{
	z-index: 120;
	width: 30px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	margin-top: 35px;
	position: relative;
}

#u5324-10
{
	z-index: 110;
	width: 870px;
	min-height: 172px;
	background-color: transparent;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u5323-7
{
	z-index: 103;
	width: 970px;
	min-height: 193px;
	background-color: transparent;
	margin-left: 100px;
	margin-top: 42px;
	position: relative;
}

#pamphletu6107
{
	z-index: 66;
	width: 0.01px;
	height: 32px;
	padding-bottom: 20px;
	margin-left: 900px;
	margin-top: 90px;
	position: relative;
}

#u6114
{
	position: absolute;
	width: 150px;
}

#u6114popup
{
	z-index: 67;
}

#u6117
{
	z-index: 68;
	width: 150px;
	height: 52px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6125-4
{
	z-index: 73;
	width: 43px;
	min-height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 34px;
}

#u6126-4
{
	z-index: 77;
	width: 18px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	text-align: right;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 91px;
}

#u6123-4
{
	z-index: 69;
	width: 18px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	text-align: right;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 117px;
}

#u6126-4:hover,#u6123-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 18px;
	margin: 15px -10000px 0px 0px;
}

#u6110
{
	z-index: 81;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 150px;
}

#u6113
{
	position: absolute;
	width: 20px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 5px;
	top: -4px;
}

#u6113.PamphletThumbSelected
{
	width: 20px;
	min-height: 0px;
	margin: 0px;
}

#u6122-4
{
	z-index: 83;
	width: 20px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	text-align: right;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u6113:hover #u6122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 20px;
	margin: 4px -10000px 0px 0px;
}

#u6113.PamphletThumbSelected #u6122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 20px;
	margin: 4px -10000px 0px 0px;
}

#u5240-4:hover p,#u5240-4:hover h5,#u5259-4:hover p,#u5259-4:hover h5,#u6126-4:hover p,#u6123-4:hover p,#u6113:hover #u6122-4 p
{
	color: #E29E29;
	visibility: inherit;
}

#u6113.PamphletThumbSelected #u6122-4 p
{
	color: #1D1D1F;
	visibility: inherit;
}

#pu6104-4
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: -42px;
}

#u6104-4
{
	z-index: 99;
	width: 20px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u6102-4
{
	z-index: 95;
	width: 95px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u6102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6103-4
{
	z-index: 91;
	width: 20px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 115px;
}

#u6105-4
{
	z-index: 87;
	width: 178px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#pu5371
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 132px;
}

#u5371
{
	z-index: 43;
	min-height: 950px;
	background: #F3F3F3 url("../images/bot_slope.png") no-repeat right bottom;
}

#u5371_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 365px;
	padding-bottom: 351px;
}

#u8424
{
	z-index: 65;
	width: 116px;
	height: 116px;
	border-radius: 58px;
	left: 627px;
	position: relative;
	background: transparent url("../images/shijie.png") no-repeat left top;
}

#u5372-4
{
	z-index: 61;
	width: 370px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	left: 500px;
	margin-top: 44px;
	position: relative;
}

#pu6081-4
{
	width: 0.01px;
	left: 520px;
	margin-top: 15px;
	position: relative;
}

#u6081-4
{
	z-index: 57;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6081-4:hover p
{
	color: #3B5998;
	visibility: inherit;
}

#u6082-4
{
	z-index: 53;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

.fadeInRightBig,.fadeInLeftBig
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u6082-4:hover p
{
	color: #55ACEE;
	visibility: inherit;
}

#u6083-4
{
	z-index: 49;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u6083-4:hover p
{
	color: #EA4C89;
	visibility: inherit;
}

#u6084-4
{
	z-index: 45;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u6102-4:hover p,#u6084-4:hover p
{
	color: #E29E29;
	visibility: inherit;
}

#u5371-bw
{
	z-index: 43;
	min-height: 950px;
}

#u6068
{
	z-index: 44;
	height: 250px;
	background: transparent url("../images/top_slope.png") no-repeat left top;
}

#u6068-bw
{
	z-index: 44;
	height: 250px;
}

#u5391-4
{
	z-index: 39;
	width: 370px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	margin-left: 400px;
	margin-top: 68px;
	position: relative;
}

#u5392
{
	z-index: 38;
	width: 30px;
	height: 1px;
	background-color: #1D1D1F;
	margin-left: 570px;
	margin-top: 26px;
	position: relative;
}

#u5393
{
	z-index: 37;
	width: 970px;
	min-height: 651px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 100px;
	margin-top: 72px;
	position: relative;
}

#u5393 p
{
	text-align: center;
}

#pu5428
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 139px;
}

#u5428
{
	z-index: 31;
	height: 440px;
	background: #F3F3F3 url("../images/top_triangle.png") no-repeat center top;
}

#u5428-bw
{
	z-index: 31;
	height: 440px;
}

#u7987
{
	z-index: 32;
	width: 610px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 380px;
}

#u5435-4
{
	z-index: 33;
	width: 770px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 300px;
}

#u115
{
	z-index: 2;
	min-height: 389.5999999999958px;
	padding-bottom: 0px;
}

#u115_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	left: -100px;
}

#u115_position_content
{
	padding-top: 53px;
}

#pu6462-4
{
	width: 0.01px;
	left: 520px;
	position: relative;
}

#u6462-4
{
	z-index: 15;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
}

#u6463-4
{
	z-index: 19;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	left: 100px;
}

#u6464-4
{
	z-index: 23;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	left: 200px;
}

#u6465-4
{
	z-index: 27;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	left: 300px;
}

#u6081-4:hover,#u6082-4:hover,#u6083-4:hover,#u6084-4:hover,#u6462-4:hover,#u6463-4:hover,#u6464-4:hover,#u6465-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px -10000px 0px 0px;
}

#u117-6
{
	z-index: 8;
	width: 770px;
	min-height: 53px;
	left: 300px;
	margin-top: 53px;
}

#u126
{
	z-index: 7;
	width: 30px;
	height: 1px;
	left: 670px;
	margin-top: 25px;
}

#u116-4
{
	z-index: 3;
	width: 370px;
	min-height: 28px;
	left: 500px;
	margin-top: 22px;
}

#u1746
{
	z-index: 14;
	width: 200px;
	min-height: 30px;
	left: 585px;
	margin-top: 95px;
}

#u115-bw
{
	z-index: 2;
	min-height: 389.5999999999958px;
}

@font-face
{
	font-family: '__Simple-Line-Icons_5';
	src: url('../fonts/simple-line-icons.eot');
	src: local('☺'), url('../fonts/simple-line-icons.woff') format('woff'), url('../fonts/simple-line-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1170px;
}

