/*

*/

.version.blog_detail_robert /* version checker */
{
	color: #0000FE;
	background-color: #A0AA5E;
}

@-ms-viewport
{
	width: 444px;
}

@-webkit-viewport
{
	width: 444px;
}

@-o-viewport
{
	width: 444px;
}

@-moz-viewport
{
	width: 444px;
}

@viewport
{
	width: 444px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 384px;
	min-height: 588.9999999999945px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: 30px;
	margin-right: 30px;
}

#page_position_content
{
	width: 0.01px;
}

#pu16160
{
	width: 0.01px;
	margin-left: -30px;
}

#u16160
{
	z-index: 166;
	min-height: 99px;
	padding: 32px 37px 469px 30px;
	background: transparent url("../../images/blog_bigimg01.jpg") no-repeat center top;
}

#u17762
{
	z-index: 209;
	width: 164px;
}

#u16167-4
{
	z-index: 179;
	width: 370px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	margin-left: 7px;
	margin-top: 28px;
	position: relative;
}

#u16160-bw
{
	z-index: 166;
	min-height: 99px;
}

#u16161
{
	z-index: 167;
	min-height: 45.89999999999969px;
	padding: 117px 187px 87.1000000000003px 184px;
	background: transparent url("../../images/bot_triangle.png") no-repeat center center;
}

#u16165-4
{
	z-index: 171;
	width: 73px;
	min-height: 12px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	left: -1px;
	position: relative;
}

#u16164
{
	z-index: 170;
	width: 70px;
	height: 1px;
	background-color: #1D1D1F;
	margin-top: 8px;
	position: relative;
}

#u16162
{
	z-index: 168;
	width: 4px;
	background-color: transparent;
	margin-left: 66px;
	margin-top: 16px;
	position: relative;
}

#u16161-bw
{
	z-index: 167;
	min-height: 45.89999999999969px;
	margin-top: 350px;
}

#u16166-4
{
	z-index: 175;
	width: 382px;
	min-height: 283px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 31px;
}

#pamphletu16168
{
	z-index: 183;
	width: 0.01px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 215px;
}

#u16177
{
	position: absolute;
	width: 180px;
}

#u16177popup
{
	z-index: 184;
}

#u16178
{
	z-index: 185;
	width: 144px;
	height: 43px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 11px 21px 7px 15px;
}

#u16180-4
{
	z-index: 186;
	width: 143px;
	min-height: 17px;
	background-color: transparent;
	text-align: right;
	line-height: 16px;
	margin-left: 1px;
	position: relative;
}

#u16179-4
{
	z-index: 190;
	width: 144px;
	min-height: 18px;
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u16175
{
	z-index: 194;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u16176
{
	position: absolute;
	width: 19px;
	height: 61px;
	border-style: none;
	background: transparent url("../../images/nextprev_orange.png") no-repeat right top;
}

#u16176:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#u16176.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: right top;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu16181
{
	z-index: 196;
	width: 0.01px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 30px;
}

#u16188
{
	position: absolute;
	width: 180px;
	left: 19px;
}

#u16188popup
{
	z-index: 197;
}

#u16189
{
	z-index: 198;
	width: 144px;
	height: 43px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 11px 18px 7px;
}

#u16191-4
{
	z-index: 199;
	width: 143px;
	min-height: 17px;
	background-color: transparent;
	line-height: 16px;
	margin-left: 1px;
	position: relative;
}

#u16180-4:hover,#u16191-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px 0px 0px 1px;
}

#u16190-4
{
	z-index: 203;
	width: 117px;
	min-height: 18px;
	background-color: transparent;
	position: relative;
}

#u16182
{
	z-index: 207;
	width: 19px;
	position: relative;
	margin-right: -10000px;
}

#u16183
{
	position: absolute;
	width: 19px;
	height: 61px;
	border-style: none;
	background: transparent url("../../images/nextprev_orange.png") no-repeat left top;
}

#u16183:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#u16183.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#pamphletu17732
{
	z-index: 211;
	width: 0.01px;
	height: 50px;
	padding-bottom: 485px;
	top: 24px;
	left: 0px;
}

#u17733popup
{
	z-index: 212;
}

#u17733
{
	width: 246px;
}

#u17734
{
	z-index: 213;
	width: 202px;
	height: 503px;
	margin-right: -10000px;
	padding: 20px 24px 12px 20px;
}

#u17746-4
{
	z-index: 218;
	width: 107px;
	min-height: 18px;
}

#u17746-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 107px;
	margin: 0px;
}

#u17746-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 107px;
	margin: 0px;
}

#u17744-4
{
	z-index: 222;
	width: 77px;
	min-height: 21px;
	margin-left: 10px;
	margin-top: 12px;
}

#u17744-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 77px;
	margin: 12px 0px 0px 10px;
}

#u17740-4
{
	z-index: 226;
	width: 153px;
	min-height: 21px;
	margin-left: 10px;
}

#u17749-4
{
	z-index: 230;
	width: 189px;
	min-height: 21px;
	margin-left: 10px;
	margin-top: 1px;
}

#u17749-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 189px;
	margin: 1px 0px 0px 10px;
}

#u17737-4
{
	z-index: 234;
	width: 77px;
	min-height: 21px;
	margin-left: 10px;
	margin-top: 9px;
}

#u17737-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 77px;
	margin: 9px 0px 0px 10px;
}

#u17753-4
{
	z-index: 238;
	width: 153px;
	min-height: 21px;
	margin-left: 10px;
}

#u17736-4
{
	z-index: 242;
	width: 192px;
	min-height: 21px;
	margin-left: 10px;
	margin-top: 1px;
}

#u17738-4
{
	z-index: 246;
	width: 77px;
	min-height: 21px;
	margin-left: 10px;
	margin-top: 10px;
}

#u17748-4
{
	z-index: 250;
	width: 153px;
	min-height: 21px;
	margin-left: 10px;
}

#u17745-4
{
	z-index: 254;
	width: 192px;
	min-height: 21px;
	margin-left: 10px;
	margin-top: 1px;
}

#u17736-4:hover,#u17745-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 192px;
	margin: 1px 0px 0px 10px;
}

#u17751-4
{
	z-index: 258;
	width: 77px;
	min-height: 21px;
	margin-left: 10px;
	margin-top: 10px;
}

#u17738-4:hover,#u17751-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 77px;
	margin: 10px 0px 0px 10px;
}

#u17742-4
{
	z-index: 266;
	width: 192px;
	min-height: 21px;
	margin-left: 10px;
	top: -1px;
	margin-bottom: -1px;
}

#u17742-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 192px;
	margin: 0px 0px -1px 10px;
}

#u17743-4
{
	z-index: 262;
	width: 153px;
	min-height: 21px;
	margin-left: 10px;
}

#u17740-4:hover,#u17753-4:hover,#u17748-4:hover,#u17743-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 153px;
	margin: 0px 0px 0px 10px;
}

#u17747-4
{
	z-index: 214;
	width: 110px;
	min-height: 29px;
	margin-top: 16px;
}

#u17747-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 110px;
	margin: 16px 0px 0px;
}

#u17747-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 110px;
	margin: 16px 0px 0px;
}

#u17735-4
{
	z-index: 270;
	width: 67px;
	min-height: 29px;
	margin-top: 1px;
}

#u17735-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 67px;
	margin: 1px 0px 0px;
}

#u17735-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 67px;
	margin: 1px 0px 0px;
}

#u17750-4
{
	z-index: 274;
	width: 94px;
	min-height: 29px;
}

#u17750-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px;
}

#u17750-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px;
}

#u17739-4
{
	z-index: 278;
	width: 98px;
	min-height: 29px;
	top: -1px;
	margin-bottom: -1px;
}

#u17739-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 98px;
	margin: 0px 0px -1px;
}

#u17739-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 98px;
	margin: 0px 0px -1px;
}

#u17741-4
{
	z-index: 282;
	width: 134px;
	min-height: 29px;
	top: -1px;
	margin-bottom: -1px;
}

#u17741-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 134px;
	margin: 0px 0px -1px;
}

#u17741-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 134px;
	margin: 0px 0px -1px;
}

#u17752-4
{
	z-index: 286;
	width: 134px;
	min-height: 29px;
}

#u17752-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 134px;
	margin: 0px;
}

#u17752-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 134px;
	margin: 0px;
}

#u17754
{
	z-index: 290;
	width: 27px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 357px;
}

#u17755
{
	width: 27px;
	height: 30px;
}

#u17755:hover
{
	width: 27px;
	height: 30px;
	min-height: 0px;
	margin: 0px;
}

#u17755.PamphletThumbSelected
{
	width: 27px;
	height: 30px;
	min-height: 0px;
	margin: 0px;
}

#u16281-4
{
	z-index: 162;
	width: 384px;
	min-height: 35px;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u16280-7
{
	z-index: 155;
	width: 384px;
	min-height: 326px;
	background-color: transparent;
	margin-top: 42px;
	position: relative;
}

#pu16276-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 46px;
}

#u16276-4
{
	z-index: 142;
	width: 275px;
	min-height: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 41px;
}

#u16277-4
{
	z-index: 146;
	width: 10px;
	min-height: 23px;
	background-color: transparent;
	color: #E29E29;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u16278-4
{
	z-index: 150;
	width: 9px;
	min-height: 21px;
	background-color: transparent;
	color: #E29E29;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 142px;
}

#u16279
{
	z-index: 154;
	width: 1px;
	height: 231px;
	background-color: #F3F3F3;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u16275-7
{
	z-index: 135;
	width: 384px;
	min-height: 333px;
	background-color: transparent;
	margin-top: 62px;
	position: relative;
}

#u16274-4
{
	z-index: 131;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	margin-top: 63px;
	position: relative;
}

#u16273-4
{
	z-index: 127;
	width: 208px;
	min-height: 24px;
	background-color: transparent;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u16272
{
	z-index: 126;
	width: 384px;
	height: 500px;
	margin-top: 37px;
	position: relative;
	background: transparent url("../../images/blog_img02.jpg") no-repeat right center;
}

#u16271-4
{
	z-index: 122;
	width: 384px;
	min-height: 243px;
	background-color: transparent;
	margin-top: 42px;
	position: relative;
}

#ppu16270-4
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 49px;
}

#pu16270-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u16270-4
{
	z-index: 118;
	width: 30px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
}

#u16269-4
{
	z-index: 114;
	width: 30px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	margin-top: 60px;
	position: relative;
}

#u16268-4
{
	z-index: 110;
	width: 30px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	margin-top: 139px;
	position: relative;
}

#u16267-10
{
	z-index: 100;
	width: 275px;
	min-height: 321px;
	background-color: transparent;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u16266-7
{
	z-index: 93;
	width: 384px;
	min-height: 393px;
	background-color: transparent;
	margin-top: 53px;
	position: relative;
}

#pamphletu16249
{
	z-index: 64;
	width: 0.01px;
	height: 32px;
	padding-bottom: 20px;
	margin-left: 214px;
	margin-top: 48px;
	position: relative;
}

#u16255
{
	position: absolute;
	width: 150px;
}

#u16255popup
{
	z-index: 65;
}

#u16256
{
	z-index: 66;
	width: 150px;
	height: 52px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16259-4
{
	z-index: 71;
	width: 43px;
	min-height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 34px;
}

#u16258-4
{
	z-index: 75;
	width: 18px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	text-align: right;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 91px;
}

#u16257-4
{
	z-index: 67;
	width: 18px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	text-align: right;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 117px;
}

#u16258-4:hover,#u16257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 18px;
	margin: 15px -10000px 0px 0px;
}

#u16252
{
	z-index: 79;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 150px;
}

#u16253
{
	position: absolute;
	width: 20px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 5px;
	top: -4px;
}

#u16253.PamphletThumbSelected
{
	width: 20px;
	min-height: 0px;
	margin: 0px;
}

#u16254-4
{
	z-index: 81;
	width: 20px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	text-align: right;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u16253:hover #u16254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 20px;
	margin: 4px -10000px 0px 0px;
}

#u16253.PamphletThumbSelected #u16254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 20px;
	margin: 4px -10000px 0px 0px;
}

#u16258-4:hover p,#u16257-4:hover p,#u16253:hover #u16254-4 p
{
	color: #2AA7F0;
	visibility: inherit;
}

#u16253.PamphletThumbSelected #u16254-4 p
{
	color: #1D1D1F;
	visibility: inherit;
}

#pu16265-4
{
	width: 0.01px;
	margin-top: -40px;
}

#u16265-4
{
	z-index: 89;
	width: 20px;
	min-height: 18px;
	background-color: transparent;
	color: #95A5A6;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u16264-4
{
	z-index: 85;
	width: 178px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#pu16232
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 84px;
}

#u16232
{
	z-index: 41;
	min-height: 74px;
	padding: 351px 37px 190px;
	background: #F3F3F3 url("../../images/bot_triangle.png") no-repeat center bottom;
}

#u16239-4
{
	z-index: 59;
	width: 370px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#pu16238-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u16238-4
{
	z-index: 55;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.flipInX
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u16238-4:hover p
{
	color: #3B5998;
	visibility: inherit;
}

#u16237-4
{
	z-index: 51;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u16237-4:hover p
{
	color: #55ACEE;
	visibility: inherit;
}

#u16236-4
{
	z-index: 47;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u16236-4:hover p
{
	color: #EA4C89;
	visibility: inherit;
}

#u16235-4
{
	z-index: 43;
	width: 30px;
	min-height: 30px;
	color: #1D1D1F;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u16180-4:hover p,#u16180-4:hover h5,#u16191-4:hover p,#u16191-4:hover h5,#u16235-4:hover p
{
	color: #E29E29;
	visibility: inherit;
}

#u16232-bw
{
	z-index: 41;
	min-height: 74px;
}

#u16234
{
	z-index: 42;
	min-height: 250px;
	background: transparent url("../../images/top_slope.png") no-repeat left top;
}

#u16240
{
	z-index: 63;
	width: 116px;
	height: 116px;
	border-radius: 58px;
	margin-bottom: -57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 164px;
	background: transparent url("../../images/shijie.png") no-repeat left top;
}

#u16234-bw
{
	z-index: 42;
	min-height: 250px;
}

#u16244-4
{
	z-index: 37;
	width: 370px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	margin-left: 7px;
	margin-top: 73px;
	position: relative;
}

#u16243
{
	z-index: 36;
	width: 30px;
	height: 1px;
	background-color: #1D1D1F;
	margin-left: 177px;
	margin-top: 26px;
	position: relative;
}

#u16241
{
	z-index: 35;
	width: 384px;
	min-height: 567px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 72px;
	position: relative;
}

#u16241 p
{
	text-align: center;
}

#pu16245
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 81px;
}

#u16245
{
	z-index: 29;
	height: 440px;
	background: #F3F3F3 url("../../images/top_triangle.png") no-repeat center top;
}

#u16245-bw
{
	z-index: 29;
	height: 440px;
}

#u16246
{
	z-index: 30;
	width: 310px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 68px;
}

#u16248-4
{
	z-index: 31;
	width: 384px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 30px;
}

#u15359
{
	z-index: 2;
	min-height: 362.7499999999909px;
	padding: 47px 30px 0px;
}

#pu15365-4
{
	width: 0.01px;
	margin-left: 27px;
	position: relative;
}

#u15365-4
{
	z-index: 13;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
}

#u15366-4
{
	z-index: 17;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	left: 100px;
}

#u15367-4
{
	z-index: 21;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	left: 200px;
}

#u15368-4
{
	z-index: 25;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	left: 300px;
}

#u16238-4:hover,#u16237-4:hover,#u16236-4:hover,#u16235-4:hover,#u15365-4:hover,#u15366-4:hover,#u15367-4:hover,#u15368-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px -10000px 0px 0px;
}

#u15362-4
{
	z-index: 8;
	width: 384px;
	min-height: 53px;
	margin-top: 59px;
}

#u15361
{
	z-index: 7;
	width: 30px;
	height: 1px;
	margin-left: 177px;
	margin-top: 20px;
}

#u15360-4
{
	z-index: 3;
	width: 384px;
	min-height: 28px;
	margin-top: 22px;
}

#u15363
{
	z-index: 12;
	width: 200px;
	min-height: 30px;
	margin-left: 92px;
	margin-top: 95px;
}

#u15359-bw
{
	z-index: 2;
	min-height: 362.7499999999909px;
}

@font-face
{
	font-family: '__Simple-Line-Icons_5';
	src: url('../../fonts/simple-line-icons.eot');
	src: local('☺'), url('../../fonts/simple-line-icons.woff') format('woff'), url('../../fonts/simple-line-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 384px;
}

