/*

*/

.version.portfolio_detail_robert /* version checker */
{
	color: #0000F5;
	background-color: #6BC96A;
}

@-ms-viewport
{
	width: 444px;
}

@-webkit-viewport
{
	width: 444px;
}

@-o-viewport
{
	width: 444px;
}

@-moz-viewport
{
	width: 444px;
}

@viewport
{
	width: 444px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 384px;
	min-height: 3050px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: 30px;
	margin-right: 30px;
}

#page_position_content
{
	padding-bottom: 145px;
	width: 0.01px;
}

#pu15440
{
	width: 0.01px;
	margin-left: -30px;
}

#u15440
{
	z-index: 57;
	min-height: 961px;
	padding: 45px 30px 174px;
	background: #F3F3F3 url("../../images/bot_triangle.png") no-repeat center bottom;
}

#u15460-4
{
	z-index: 124;
	width: 34px;
	min-height: 34px;
	background-color: transparent;
	color: #1D1D1F;
	font-size: 32px;
	text-align: center;
	line-height: 38px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	margin-left: 175px;
	position: relative;
}

#u15460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 34px;
	margin: 0px 0px 0px 175px;
}

#u15459-4
{
	z-index: 120;
	width: 384px;
	min-height: 61px;
	background-color: transparent;
	line-height: 58px;
	margin-top: 47px;
	position: relative;
}

#u15458-4
{
	z-index: 116;
	width: 384px;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	margin-top: 8px;
	position: relative;
}

#u15457-4
{
	z-index: 112;
	width: 230px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	margin-left: 77px;
	margin-top: 59px;
	position: relative;
}

#u15456
{
	z-index: 111;
	width: 30px;
	height: 1px;
	background-color: #1D1D1F;
	margin-left: 177px;
	margin-top: 14px;
	position: relative;
}

#u15455-4
{
	z-index: 107;
	width: 384px;
	min-height: 239px;
	background-color: transparent;
	text-align: center;
	margin-top: 21px;
	position: relative;
}

#u15454-4
{
	z-index: 103;
	width: 230px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	margin-left: 77px;
	margin-top: 9px;
	position: relative;
}

#u15453
{
	z-index: 102;
	width: 30px;
	height: 1px;
	background-color: #1D1D1F;
	margin-left: 177px;
	margin-top: 14px;
	position: relative;
}

#u15452-4
{
	z-index: 98;
	width: 384px;
	min-height: 28px;
	background-color: transparent;
	text-align: center;
	margin-top: 21px;
	position: relative;
}

#pu15450-6
{
	width: 0.01px;
	margin-top: 82px;
	position: relative;
}

#u15450-6
{
	z-index: 87;
	width: 177px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u15447-4
{
	z-index: 78;
	width: 177px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#pu15445-4
{
	width: 0.01px;
	margin-top: 34px;
	position: relative;
}

#u15445-4
{
	z-index: 69;
	width: 138px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u15442-5
{
	z-index: 58;
	width: 177px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u15440-bw
{
	z-index: 57;
	min-height: 961px;
}

#u15443-6
{
	z-index: 63;
	width: 177px;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 965px;
	left: 237px;
}

#u15446-5
{
	z-index: 73;
	width: 138px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 941px;
	left: 30px;
}

#u15448-5
{
	z-index: 82;
	width: 177px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 831px;
	left: 237px;
}

#u15451-5
{
	z-index: 93;
	width: 177px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 831px;
	left: 30px;
}

#u15442-2,#u15446-2,#u15448-2,#u15451-2
{
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	color: #1D1D1F;
	font-family: raleway, sans-serif;
	font-weight: 900;
}

#pamphletu15492
{
	z-index: 39;
	width: 0.01px;
	height: 700px;
	margin-top: 135px;
	position: relative;
}

#u15505
{
	z-index: 40;
	width: 384px;
	position: relative;
	margin-right: -10000px;
}

#u15506
{
	position: absolute;
	width: 384px;
	height: 1800px;
	border-style: none;
	background: #E29E29 url("https://z3.ax1x.com/2021/06/18/Rp9rOH.jpg") no-repeat center top / contain;
}

#u15506:hover
{
	width: 384px;
	height: 1800px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("https://z3.ax1x.com/2021/06/18/Rp9rOH.jpg") no-repeat center top / contain;
	background-color: rgba(255, 255, 255, 0.8);
}

#u15509
{
	position: absolute;
	width: 177px;
	height: 220px;
	border-style: none;
	left: 207px;
	background: transparent url("../../images/shijie1-img2.png") no-repeat center top / contain;
}

#u15509:hover
{
	width: 177px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/shijie1-img2.png") no-repeat center top / contain;
	background-color: rgba(255,255,255,0.8);
}

#u15507
{
	position: absolute;
	width: 384px;
	height: 250px;
	border-style: none;
	top: 250px;
	background: #F4F4F4 url("../../images/mediproview2.gif") no-repeat center center / contain;
}

#u15507:hover
{
	width: 384px;
	height: 240px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/mediproview2.gif") no-repeat center center / contain;
	background-color: rgba(255,255,255,0.8);
}

#u15508
{
	position: absolute;
	width: 177px;
	height: 220px;
	border-style: none;
	top: 526px;
	background: #E29E29 url("../../images/shijie1-img3.png") no-repeat center center / contain;
}

#u15508:hover
{
	width: 177px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/shijie1-img3.png") no-repeat center center / contain;
	background-color: rgba(255,255,255,0.8);
}

#u15510
{
	position: absolute;
	width: 177px;
	height: 220px;
	border-style: none;
	top: 526px;
	left: 207px;
	background: #E29E29 url("../../images/shijie1-img5.png") no-repeat center center / contain;
}

#u15510:hover
{
	width: 177px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/shijie1-img5.png") no-repeat center center / contain;
	background-color: rgba(255,255,255,0.8);
}

#u15497
{
	position: absolute;
	width: 384px;
	border-style: none;
	background-color: #F4F4F4;
	background-color: rgba(243,243,243,0.9);
	padding-bottom: 44px;
	-pie-background: rgba(243,243,243,0.9);
}

#u15497popup
{
	z-index: 46;
}

#u15498
{
	z-index: 47;
	width: 340px;
	height: 1600px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("https://z3.ax1x.com/2021/06/18/Rp9rOH.jpg") no-repeat center center;
	background-size: contain;
}

#u15499
{
	z-index: 48;
	width: 340px;
	height: 430px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/shijie1-bigimg2.png") no-repeat center center;
	background-size: contain;
}

#u15500
{
	z-index: 49;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/mediproview2.gif") no-repeat center center;
	background-size: contain;
}

#u15502
{
	z-index: 50;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/shijie1-bigimg3.png") no-repeat center center;
	background-size: contain;
}

#u15501
{
	z-index: 51;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/shijie1-bigimg5.png") no-repeat center center;
	background-size: contain;
}

#u15493
{
	position: absolute;
	width: 30px;
	border-style: none;
	background-color: transparent;
	top: 20px;
	left: 303px;
}

#u15494-4
{
	z-index: 53;
	width: 30px;
	min-height: 29px;
	background-color: transparent;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u15494-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 30px;
	margin: 0px -10000px 0px 0px;
}

#accordionu15461
{
	z-index: 2;
	width: 384px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 124px;
	position: relative;
}

#u15462
{
	z-index: 3;
	width: 384px;
	background-color: transparent;
	position: relative;
}

#u15463-4
{
	z-index: 4;
	width: 374px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #1D1D1F;
	font-size: 30px;
	text-align: center;
	line-height: 12px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
}

#u15463-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 374px;
	margin: 0px;
}

#u15463-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 374px;
	margin: 0px;
}

#u15463-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 374px;
	margin: 0px;
}

#u15463-4:hover p
{
	color: #E29E29;
	visibility: inherit;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	font-style: normal;
}

#u15463-4:active p
{
	color: #E29E29;
	visibility: inherit;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	font-style: normal;
}

#u15463-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 0.4;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	font-style: normal;
}

#u15463-2
{
	padding-right: 10px;
}

#u15464
{
	z-index: 8;
	width: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#pamphletu15465
{
	z-index: 9;
	width: 0.01px;
	height: 3055px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u15481
{
	z-index: 10;
	width: 384px;
	position: relative;
	margin-right: -10000px;
}

#u15487
{
	position: absolute;
	width: 177px;
	height: 220px;
	border-style: none;
	background: transparent url("../../images/shijie1-img6.png") no-repeat center center;
	background-size: contain;
}

#u15487:hover
{
	width: 177px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/shijie1-img6.png") no-repeat center center;
	background-color: rgba(255,255,255,0.8);
	background-size: contain;
}

#u15485
{
	position: absolute;
	width: 177px;
	height: 220px;
	border-style: none;
	left: 207px;
	background: transparent url("../../images/shijie1-img4.png") no-repeat center top;
	background-size: cover;
}

#u15485:hover
{
	width: 177px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/shijie1-img4-1.png") no-repeat center top;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
}

#u15489
{
	position: absolute;
	width: 384px;
	height: 240px;
	border-style: none;
	top: 240px;
	background: #F4F4F4 url("../../images/shijie1-img7.png") no-repeat center center;
	background-size: contain;
}

#u15489:hover
{
	width: 384px;
	height: 240px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/shijie1-img7.png") no-repeat center center;
	background-color: rgba(255,255,255,0.8);
	background-size: contain;
}

#u15488
{
	position: absolute;
	width: 177px;
	height: 565px;
	border-style: none;
	top: 870px;
	background: transparent url("../../images/03.jpg") no-repeat center top;
	background-size: cover;
}

#u15488:hover
{
	width: 177px;
	height: 565px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/03-u15488-r-fr.png") no-repeat center top;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
}

#u15486
{
	position: absolute;
	width: 177px;
	height: 565px;
	border-style: none;
	top: 870px;
	left: 207px;
	background: transparent url("../../images/02.jpg") no-repeat center center;
	background-size: cover;
}

#u15486:hover
{
	width: 177px;
	height: 565px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/02-u15486-r-fr.png") no-repeat center center;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
}

#u15490
{
	position: absolute;
	width: 246px;
	height: 565px;
	border-style: none;
	top: 1465px;
	background: transparent url("../../images/13.jpg") no-repeat right center;
	background-size: cover;
}

#u15490:hover
{
	width: 246px;
	height: 565px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/13-u15490-r-fr.png") no-repeat right center;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
}

#u15484
{
	position: absolute;
	width: 108px;
	height: 565px;
	border-style: none;
	top: 1465px;
	left: 276px;
	background: transparent url("../../images/14.jpg") no-repeat right center;
	background-size: cover;
}

#u15484:hover
{
	width: 108px;
	height: 565px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/14-u15484-r-fr.png") no-repeat right center;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
}

#u15483
{
	position: absolute;
	width: 384px;
	height: 400px;
	border-style: none;
	top: 2060px;
	background: transparent url("../../images/18-u15483-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u15483:hover
{
	width: 384px;
	height: 400px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/18-u15483-r-fr.png") no-repeat center center;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
}

#u15482
{
	position: absolute;
	width: 177px;
	height: 565px;
	border-style: none;
	top: 2490px;
	background: transparent url("../../images/10.jpg") no-repeat center center;
}

#u15482:hover
{
	width: 177px;
	height: 565px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/10-u15510-r-fr.png") no-repeat center center;
	background-color: rgba(255,255,255,0.8);
}

#u15491
{
	position: absolute;
	width: 177px;
	height: 565px;
	border-style: none;
	top: 2490px;
	left: 207px;
	background: transparent url("../../images/16.jpg") no-repeat center center;
}

#u15491:hover
{
	width: 177px;
	height: 565px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../../images/16-u15491-r-fr.png") no-repeat center center;
	background-color: rgba(255,255,255,0.8);
}

#u15466
{
	position: absolute;
	width: 384px;
	border-style: none;
	background-color: #F4F4F4;
	background-color: rgba(243,243,243,0.9);
	padding-bottom: 44px;
	top: -2px;
	-pie-background: rgba(243,243,243,0.9);
}

#u15466popup
{
	z-index: 21;
}

#u15469
{
	z-index: 22;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/shijie1-bigimg6.png") no-repeat center center;
	background-size: contain;
}

#u15475
{
	z-index: 23;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/shijie1-bigimg4.png") no-repeat center center;
	background-size: contain;
}

#u15474
{
	z-index: 24;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/shijie1-img7.png") no-repeat center center;
	background-size: contain;
}

#u15476
{
	z-index: 25;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/03.jpg") no-repeat center center;
	background-size: cover;
}

#u15468
{
	z-index: 26;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/02.jpg") no-repeat center top;
	background-size: cover;
}

#u15472
{
	z-index: 27;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/13.jpg") no-repeat center center;
	background-size: cover;
}

#u15473
{
	z-index: 28;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/14.jpg") no-repeat center center;
	background-size: cover;
}

#u15467
{
	z-index: 29;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/18.jpg") no-repeat center center;
	background-size: cover;
}

#u15471
{
	z-index: 30;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/10.jpg") no-repeat center center;
	background-size: cover;
}

#u15470
{
	z-index: 31;
	width: 340px;
	height: 630px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/16-u15470-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u15478
{
	position: absolute;
	width: 19px;
	height: 61px;
	border-style: none;
	top: 306px;
	left: 50px;
	background: transparent url("../../images/nextprev_orange.png") no-repeat left top;
}

#u15478:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#u15477
{
	position: absolute;
	width: 19px;
	height: 61px;
	border-style: none;
	top: 306px;
	left: 315px;
	background: transparent url("../../images/nextprev_orange.png") no-repeat right top;
}

#u15477:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 19px;
	height: 61px;
	min-height: 0px;
	margin: 0px;
}

#u15479
{
	position: absolute;
	width: 30px;
	border-style: none;
	background-color: transparent;
	top: 51px;
	left: 302px;
}

#u15493:hover,#u15479:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u15480-4
{
	z-index: 35;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	font-family: '__Simple-Line-Icons_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u15480-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px -10000px 0px 0px;
}

#u15460-4:hover p,#u15494-4:hover p,#u15480-4:hover p
{
	color: #E29E29;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* pamphlet2 */
{
	cursor: pointer;
}

@font-face
{
	font-family: '__Simple-Line-Icons_5';
	src: url('../../fonts/simple-line-icons.eot');
	src: local('☺'), url('../../fonts/simple-line-icons.woff') format('woff'), url('../../fonts/simple-line-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 384px;
}

#page .verticalspacer
{
	clear: both;
}

